*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.padre{
    background-color:gray;
    margin: 0 auto;
    width: 1200px;
    height: 300px;
    /*height: 100%;mide el 100% del alto de la pantalla donde esta parado*/
}

.box{
    font-size: 2rem;
    text-align: center;/*alinea todo el contenido de una caja*/
    margin: 0 auto;
    width:  50%;/*si el padre no tiene ancho fijo, es el % en base al body, y si el padre tiene un ancho, es en base al ancho del padre*/
    width: 50vw;/*1vw = 1% del ancho de la pantalla*/
    /*height: 50%;/*puedo usar % en el alto, cuando el contenedor padre tiene establecido un alto fijo*/
    /*height: 50vh;1vh = 1% de el layout de la pantalla donde esta parado- unidad de medida relativa*/
     height: 30%;
   /* overflow:auto;*/
     min-height:200px ;
     max-height: 600px;

   
}

.amarillo{
    background-color: #f3e083;
}

.verde{
    background-color: #a1f383;
}

/* propiedades de caja en un elemento que tiene display: inline;
unidades de medida para cualquier elemento % vh vw
overflow
position*/

.link{
    /*display: inline;sigue siendo un elemento en linea, pero me permite tener las propiedades de caja*/
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #ff6550;
    /*width: 200px;
    height: 200px; display:inline-block*/ 
    margin:100px;/*para poder usar margin en todos sus laterales, usamos display: inline-block*/
    padding: 50px;
   
}